<ion-header id="TODO-future-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="HomeContent" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                Current Number of Hits!
              </ion-card-title>
              <ion-card-subtitle>
                {{ currentCount }}
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="btn" id="MainCenterButton" size="md">Increase</ion-button>
  </div>
</ion-content>